@import 'var.less';
@import 'common.less';

.more-top-news{
    padding-left: 10px;
    padding-right: 10px;

    @media only screen and (min-width:@desktop) {
        display: flex;
        padding-left: 30px;
    }

    @media only screen and (min-width:@desktop) {
        padding-left: 50px;
    }

    .second-top-news {
        @media only screen and (min-width:@desktop-lg) {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
           justify-content: space-between;
            flex-basis: calc((100% / 2 ) - 30px );
          }

        .second-top-image {
            margin-bottom: 20px;

            @media only screen and (min-width:@tablet-xs) {
                display: flex;
                flex-direction: column;
                width: 400px;
                height: auto;

            }

            @media only screen and (min-width:@tablet) {
                width: 300px;
                height: auto;
            }
    
            
            


            img {
                width: 100%;
                height: auto;

                @media only screen and (min-width:@tablet-xs) {
                    width: 330px;
                    height: auto;;

                }

                @media only screen and (min-width:@tablet) {
                    width: 300px;
                    height: auto;
                }
                
                
            }
        }

        .second-top-news-text {
            padding-bottom: 10px;


            &:hover {
                background-color: rgb(200, 221, 221);
            }

            h2 a {
                font-family: inherit;
                color: black;
                font-size: 30px;

                &:hover {
                    color: @lightblue;
                }
            }

            p {
                font-size: 15px;
            }
        }
    }
}